@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellota:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');


body {
  background-color: lightsteelblue;


}

.parent {
  position: absolute;
  left: 10px;
  top: 10px;
  bottom: 10px;
 font-family: 'Niconne', cursive;
font-size: 70px;
margin-top: 100px;


}
.image1 {
  position: absolute;
  bottom: 41.5px;
  left: 200px;
 outline-style: solid; outline-width: 10px; outline-color: palegreen;
  
}
.avatar {
  position: absolute;
  top: 110px;
  left: 1100px;
   width: 300px;
    display: block;
    box-sizing: border-box;
    background-color: #DDD;
    border: 15px solid #cfd8dc;
    z-index: 1;
  outline-style: solid; outline-color: palegreen; outline-width: 5px;
}

nav {
float: right;
position: absolute; right: 100px; top: 207px; left: 1000px;
background-color: white;
width: 200px;
height: 500px;
outline-style: solid; outline-color: palegreen; outline-width: 10px;

}

a {
    text-decoration: none;

}

section {
position:absolute; left: 310px; top: -20px;
background-color: white;
width: 945px;
height: 150px;
}

h1 {
font-family: 'Style Script', cursive;
font-size: 40px;
}


